<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leemin.minhtrung.ateamnews">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_ateam"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <!-- FB TODO Add application id -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainViewActivity"
            android:label="@string/title_activity_main_view"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider695863097252879"
            android:exported="true" />
        <!-- Facebook -->
        <activ
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <activity android:name=".DetailNewsActivity" />
        <activity android:name=".TestEveryThing">
            <activity android:name=".SettingActivityBasic" />
        </activity>
        <activity
            android:name=".MainViewNewsActivity"
            android:label="@string/title_activity_main_view_news"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>